.admin_page {
  color: rgba(255, 255, 255, 0.887);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: 100%;
}
.content_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
